$bg-color-dark: rgba(36, 36, 36, .8);
$bg-color-light: rgba(255, 255, 255, .7);

.wrapper {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    z-index: 800;

    .content {
        padding: 0 10px;
        display: flex;
        justify-content: flex-start;
        width: 100%;

        .burger {
            position: absolute;
            right: 10px;
            cursor: pointer;
        }
    }

    &.dark {
        background-color: $bg-color-dark;
    }

    &.light {
        background-color: $bg-color-light;
    }
}